.containor{
    
}
h1{text-align: center}
body{
    font-family: sans-serif;
    font-size:15px;
}

.containor{
    width: 1000px;
    margin: 20px auto;
}


.address {
    position:relative;
   )
    
}

.table{
    
}
.address img {
    top: 0px;
    height: 105px;
    width: 90px;
    float: right;
    position:absolute;
    right: 0px
    
    
}
